:root {
  --black-0: #161616;
  --black-alpha: #272a3588;
  --black-1: #272a35;
  --white-1: #eef5fb;
  --blue-1: #04e9e9;
  --coral-1: #ff8484;
  --truncate: {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--white-1);
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body * {
  box-sizing: border-box;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}
